body {
    background-color: #ffffff;
  }
  .navbar-custom.is-fixed{
    background-color: rgba(255, 255, 255, 0.148);
    border: 0 ;
  }
  
  .navbar-custom.is-fixed .nav li a{
    color: #505050e3;
  }
  .navbar-custom .nav li a{
    color: #ffffffe3;
  
  }
  @media only screen and (max-width: 767px){
    .navbar-custom .nav li a{
      color: #626161dc;
    
    }
  }


  .navbar-custom .navbar-brand{
    color: #ffffffe3;
  
  }
  .navbar-custom.is-fixed .navbar-brand{
    color: #505050e3;
  }
  
  .movie-quanju {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    margin-bottom: 40px; }
  
  .bg_pic {
    position: absolute;
    height: 85rem;
    /* height: 100%; */
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10; 
  
  
  }

 


   .tit1 {
    display: block;
    margin-top: 27%;
    margin-left: 47%;
    /* margin-bottom: 47%; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 100%;
    width: 100%;
    color: #ffffffcb;
  }

  .sidebar-container .short-about p {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #1f373c8c;
}
  
.post-content-preview {
  font-size: 13px;
  font-style: italic;
  color: #787676;
}


  .bg_pic:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #ffffff 100%); 
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee00;
}

  .container-1:after {
  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%); 
  }
  
  
  
  .page-movies .pagetitle, .page-movies .header-menu a {
    color: #FFF; }
  
  .page-movies .header-menu svg {
    color: #ebebeb; }
  
  .page-movies .menu-main svg {
    fill: #dfdfdf; }
  
  #movies_page {
    margin-top: 15%;
    margin-left: 18%;
    margin-right: 18%;
    
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(5, 1fr); 
  }
    @media (max-width: 1000px) {
      #movies_page {
        /* margin-top: 50%; */
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(3, 1fr); 
      } 
      }
  
  
  
  .movies_bankuai {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3 / 4.4; }
  
  .movies_bankuai img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  
  
    
  .movies-nrong {
    display: none; }
    @media (min-width: 700px) {
      .movies-nrong {
        display: block;
        padding: 60px 20px 20px 20px;
        color: #fff;
        font-size: 0.85rem;
        position: absolute;
        transition: transform 0.3s ease;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.85);
        opacity: 0; } }
  .movies_bankuai:hover .movies-nrong {
    opacity: 1;
    transform: scale(1.05); }
  
  .movie-time {
    color: #c7c7c7;
    margin-top: 7px; }
  
  .movie-title {
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 1rem;
    margin: 6px 0 6px 0; }
  
  .movie-title a {
    color: #FFF; }
  
  .movie-pfeng {
    color: #c7c7c7;
    margin-bottom: 8px;
    display: flex;
    gap: 4px; }
  
  .movie-pfeng svg {
    width: 0.85rem;
    height: 0.85rem;
    color: #fcb68d; }
  
  .movie-info {
    line-height: 1.6;
    color: #FFF;
    text-align: justify; }
  
  .movies_loadMore {
    background: 0 0;
    cursor: pointer;
    color: var(--text-highlight-color);
    border-radius: 4px;
    padding: 10px 30px;
    font-family: var(--font-family-title);
    font-size: .85rem;
    border: 0.5px solid var(--text-highlight-color);
    margin-top: 20px;
    display: inline-block; }
  
  .movies_loadMore:hover {
    opacity: 0.8; }
  
  @media (prefers-color-scheme: dark) {
    .movie-content-right-3, .movie-content-right-2 a {
      color: var(--sanji-color); }
    .bg_pic:after {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1A1718 100%); }
    .page-movies .pagetitle, .page-movies .header-menu a {
      color: var(--sanji-color); }
    .page-movies .header-menu svg {
      color: #827478; }
    .page-movies .pagetitle, .page-movies .header-menu a, .movie-info, .movie-title a {
      color: #dfdfdf; }
    .page-movies .header-menu svg {
      color: #dfdfdf; }
    .page-movies .menu-main svg {
      fill: #c3c3c3; } }
  