pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 0 !important;
  }
.article-content {
    .highlight:before {
      content: '';
      display: block;
    //   background: url(/code-header.svg);
      height: 2px;
      width: 100%;
      background-size: 7px;
      background-repeat: no-repeat;
      margin-bottom: 5px;
      background-position: -1px 2px;
    }
}  