.goTopBtn {
    display: inline-block; /* Hidden by default */
    position: absolute; /* Fixed/sticky position */
    bottom: 25px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 0.3em; /* Rounded corners */
    font-size: 13px; /* Increase font size */
    font-family: LXGW Wenkai;
    background-color: #a31a1a; color: black;
  }