@font-face {
    font-family: "LXGWWenKaiScreen.ttf";
    src: url("/fonts/LXGWWenKaiScreen.ttf") format("truetype");
}

/* @font-face {
    font-family: "LXGWWenKaiScreen.ttf";
    src: url("/fonts/LXGWWenKaiScreen.ttf") format("truetype");
} */