body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.post-content pre,
code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 13;
  line-height: 1.2;
  max-height: 40rem;
}